---
import CommonBase from '../../layouts/CommonBase.astro';
import { getEntry } from 'astro:content'
const { project } = Astro.params;
if (project == undefined) {
	return { status: 404 };
}

const photo = await getEntry('photography', project);
if (photo == undefined) {
	return { status: 404 };
}
---


<CommonBase title="zoom">
	<img 
		transition:animate="fade"
		src={photo.data.cover} 
		alt={photo.data.title}
		class="w-full"
	/>
	<div class="text-center w-full mt-6" transition:animate="fade">
		<h1 class="text-xl font-bold">{photo.data.title}</h1>
		<p class="text-md mt-2">{photo.data.description}</p>
	</div>
	<a href="/" class="pointer text-orange-600 underline mt-6 block">
		Back
	</a>
</CommonBase>
