---
import CommonBase from '../../layouts/CommonBase.astro';
import { getEntry } from 'astro:content'
const { project } = Astro.params;
if (project == undefined) {
	return { status: 404 };
}

const photo = await getEntry('photography', project);
if (photo == undefined) {
	return { status: 404 };
}
---


<CommonBase title="zoom">
	<div class="h-[90vh] flex flex-col gap-10 justify-center items-center">
		<img 
			transition:animate="fade"
			src={photo.data.cover} 
			alt={photo.data.title}
			class={photo.data.isPortrait ? "h-full" : "w-full"}
		/>
		<div class="text-center max-w-screen-sm mt-8" transition:animate="fade">
			<h1 class="text-2xl font-bold">{photo.data.title}</h1>
			<p class="text-lg mt-2">{photo.data.description}</p>
		</div>
		<a href="/" class="text-xl pointer text-orange-600 underline block">
			Back
		</a>
	</div>
</CommonBase>
