---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Documentary">
	<div class="flex flex-col items-center text-center">
		<iframe
			width="560"
			height="315"
			src="https://www.youtube.com/embed/eblw6X22_m4"
			allowfullscreen
		>
		</iframe>
		<div class="mt-12 text-lg">
			<h2 class="text-xl font-bold">Where the Waters Meet</h2>
			<p class="mt-8">A documentry about an epic tale.</p> 
			<p>A fight between locals, a disbute for the ages</p>
			<p class="mt-8">Created By Doanld Jeweks and Myself.</p> 
		</div>
	</div>
</Layout>
