---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Documentary">
	<div class="flex flex-col items-center text-center">
		<iframe
			class="object-cover h-44"
			src="https://www.youtube.com/embed/eblw6X22_m4"
			allowfullscreen
		>
		</iframe>
		<div class="mt-12 text-md">
			<h2 class="text-lg font-bold">Where the Waters Meet</h2>
			<p class="mt-2">A documentry about an epic tale.</p> 
			<p>A fight between locals, a disbute for the ages.</p>
			<p class="mt-4">Created By Doanld Jeweks and Myself.</p> 
		</div>
	</div>
</Layout>
