---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Documentary">
	<div id="container" class="flex flex-col items-center text-center w-full">
		<iframe
			id="vid"
			class="w-full aspect-video"
			src="https://www.youtube.com/embed/eblw6X22_m4"
			allowfullscreen
		>
		</iframe>
		<div class="mt-24 text-md md:text-lg">
			<h2 class="text-xl md:text-2xl font-bold">Where the Waters Meet</h2>
			<p class="mt-6 max-w-screen-sm">
				A documentry about an epic tale. A fight between locals, a disbute for the ages. Created By Doanld Jeweks and Myself.
			</p> 
		</div>
	</div>
</Layout>
