---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content'

const photos = await getCollection('photography')
---

<Layout title="Photography">
	<div class="flex flex-col gap-6">
		{photos.map((photo) => (
			<a href={"/photography/" + photo.id}>
				<img src={photo.data.cover} alt={photo.data.title} />
			</a>
		))}
	</div>
</Layout>
