---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content'

const photos = await getCollection('photography')
---

<Layout title="Photography">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ">
		{photos.map((photo) => (
			<div>
				<a href={"/photography/" + photo.id}>
					<img src={photo.data.cover} alt={photo.data.title} />
				</a>
			</div>
		))}
	</div>
</Layout>
