@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Lusitana Regular";
	src: url('/fonts/Lusitana-Regular.ttf');
}

body {
	font-family: "Lusitana Regular";
	@apply text-gray-700 bg-slate-50;
}
