---
import { fade } from 'astro:transitions';
import CommonBase from './CommonBase.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

---
<CommonBase title={title}>
	<nav class="w-full">
		<h1 class="w-full mb-2 text-center text-2xl font-bold">
			<a href="/about">Evan Perry</a>
		</h1>
		<hr class="w-full border-0 rounded bg-gray-600 h-0.5">
		<div class="md:text-lg w-full flex justify-center gap-6 mt-2">
			<a href="/">Photography</a>
			<a href="/documentary">Documentary</a>
			<a href="/about">About</a>
		</div>
	</nav>
	<main class="w-full mt-8" transition:animate="fade">
		<slot />
	</main>
	
</CommonBase>
